.display-flex
    display: flex

.flex-1
	flex:1

.flex-2
	flex:2

.flex-3
	flex:3

.flex-4
	flex:4

.flex-align-s
	align-self: flex-start

.flex-wrap-n
	flex-wrap: nowrap

.flex-justify-s
	justify-content: space-between

.flex-row
	flex-direction: row

.flex-align-e
	align-self: flex-end

.flex-items-e
	align-items: flex-end

.flex-justify-r
	justify-content: flex-end

.flex-row-r
	flex-direction: row-reverse

.flex-align-b
	align-self: baseline

.flex-align-c
	align-self: center

.flex-align-a
	align-self: auto
	height: auto !important

.flex-items-c
	align-items: center

.flex-column-r
	flex-direction: column-reverse

.flex-wrap
	flex-wrap: wrap

.flex-items-s
	align-items: stretch

.flex-justify-c
	justify-content: center

.flex-column
	flex-direction: column

.flex-justify-a
	justify-content: space-around

